<%
selected_color   = "#81d99a"
deselected_color = "#bbbbbb"
%>

  <div>
    <% @possible_years.each do |year| 
        params = @filter_params.dup
        selected_years = params[:year]&.split(",") || []
        params[:year] = if selected_years.include?(year.to_s)
          color = selected_color
          selected_years - [year.to_s]
        else
          color = deselected_color
          selected_years + [year.to_s]
        end.flatten.join(',')
          
        color = selected_color if selected_years.empty?

        path = send(@path_method, params) 
    %>
      <%= link_to(year, path, { class: "button-base", style: "background-color:#{color}" }) %>
    <% end %>
  </div>

  <% if @show_filters&.fetch(:group_by, false) %>
    <% @possible_groups.each do |group| 
        params = @filter_params.dup
        selected_group = params[:group_by]
        if selected_group == group.to_s
          color = selected_color
          params.delete(:group_by)
        else
          color = deselected_color
          params[:group_by] = group
        end

        path = send(@path_method, params) 
    %>
      <%= link_to(group.gsub(",","-"), path, { class: "button-base", style: "background-color:#{color}" }) %>
    <% end %>
  <% end %>

  <% if @show_filters&.fetch(:month, false) %>
  <div>
    <% (1..12).each do |month| 
        params = @filter_params.dup
        selected_month = params[:month]&.split(",") || []
        params[:month] = if selected_month.include?(month.to_s)
          color = selected_color
          selected_month - [month.to_s]
        else
          color = deselected_color
          selected_month + [month.to_s]
        end.flatten.join(',')

        color = selected_color if selected_month.empty?

        path = send(@path_method, params) 
    %>
      <%= link_to(month, path, { class: "button-base", style: "background-color:#{color}" }) %>
    <% end %>
  </div>
  <% end %>


  <div>
    <% @possible_sport_types.each do |id, name| 
        params = @filter_params.dup
        selected_sports = params[:sport_type_id]&.split(",") || []
        params[:sport_type_id] = if selected_sports.include?(id.to_s)
          color = selected_color
          selected_sports - [id.to_s]
        else
          color = deselected_color
          selected_sports + [id.to_s]
        end.flatten.join(',')

        color = selected_color if selected_sports.empty?

        path = send(@path_method, params) 
    %>
      <%= link_to(name, path, { class: "button-base", style: "background-color:#{color}" }) %>
    <% end %>
  </div>
