<%
selected_color   = "#81d99a"
deselected_color = "#bbbbbb"
%>

  <div>
    <% @possible_years.each do |year| 
        params = @filter_params.dup
        selected_years = params[:year]&.split(",") || []
        params[:year] = if selected_years.include?(year.to_s)
          button = "button-green"
          selected_years - [year.to_s]
        else
          button = "button-gray"
          selected_years + [year.to_s]
        end.flatten.join(',')
          
        button = "button-green"  if selected_years.empty?

        path = send(@path_method, params) 
    %>
      <%= link_to(year, path, { class: button }) %>
    <% end %>
  </div>

  <% if @show_filters&.fetch(:group_by, false) %>
    <% @possible_groups.each do |group| 
        params = @filter_params.dup
        selected_group = params[:group_by]
        if selected_group == group.to_s
          button = "button-green"
          params.delete(:group_by)
        else
          button = "button-gray"
          params[:group_by] = group
        end

        path = send(@path_method, params) 
    %>
      <%= link_to(group.gsub(",","-"), path, { class: button }) %>
    <% end %>
  <% end %>

  <% if @show_filters&.fetch(:month, false) %>
  <div>
    <% (1..12).each do |month| 
        params = @filter_params.dup
        selected_month = params[:month]&.split(",") || []
        params[:month] = if selected_month.include?(month.to_s)
          button = "button-green"
          selected_month - [month.to_s]
        else
          button = "button-gray"
          selected_month + [month.to_s]
        end.flatten.join(',')

        button = "button-green" if selected_month.empty?

        path = send(@path_method, params) 
    %>
      <%= link_to(month, path, { class: button }) %>
    <% end %>
  </div>
  <% end %>

  <div>
    <% @possible_sport_types.each do |name| 
        params = @filter_params.dup
        selected_sports = params[:sport_type]&.split(",") || []
        params[:sport_type] = if selected_sports.include?(name)
          button = "button-green"
          selected_sports - [name]
        else
          button = "button-gray"
          selected_sports + [name]
        end.flatten.join(',')

        button = "button-green" if selected_sports.empty?
        path = send(@path_method, params) 
    %>
      <%= link_to(name, path, { class: button }) %>
    <% end %>
  </div>

