
<div class="textbox" style="width:50%;margin:left">
  <div class="text">
    Import sessions, supporting GPX and FIT:
  </div>

  <div style="padding-left:10px">
  <%= form_with url: "/imports/create", multipart: true do |form| %>
    <%= file_field_tag :input %>
    <p/>
    <%= form.submit "Import" %>
  <% end %>
  </div>
</div>



