/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.flexbox {
  display: flex;
	flex-direction: row;
	align-items:center;
	justify-content: space-around;
}
.chart { 
  float: left; 
  width: 45%; 
  margin-right: 10px; 
}
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  border-radius: 12px;
}

div {
  padding: 5px 0px 5px 0px; /* top right bottom left **/ 
}

.center {
  margin: auto;
  width: 50%;
  border: none; /* 3px dotted green; */
  padding: 10px;
}

th, td {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
}

tr:nth-child(even) {
  background-color: #D6EEEE;
}

tr:hover {background-color: #76d7c4;}

td {
  font-size: 14px;
}
