/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.flexbox {
  display: flex;
	flex-direction: row;
	align-items:center;
	justify-content: space-around;
}
.chart { 
  float: left; 
  width: 45%; 
  margin-right: 10px; 
}

.flash {
  float: right;
  align-items: center;
  gap: var(--space-s);

  max-width: 100%;
  width: max-content;
  padding: 15px;
  
  border-radius: 12px;
}

.flash-warning {
  border: 3px dotted orange;
  background-color: #fed8b1; /* light orange */ 
}

.flash-success {
  border: 3px dotted #81d99a;
  background-color: #81d99a; 
}

[class*="button-"] {
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  border-radius: 12px;
  margin: 2px;
}
.button-base {
}
.button-gray {
  background-color: #BBBBBB; /* Gray */
}
.button-green {
  background-color: #81d99a; /* Green */
}
.button-red {
  background-color: #FF1200; /* Red */
}

.container {
  border: 1px dotted black;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 65% 5% 30%;
  grid-template-areas: 
    "left center right"
    "left center right";
  justify-items: 
    left right;
  align-items: center;
}

.item-left {
  grid-row-start: 1;
  grid-row-end: span 2;
}
.item-center {
  grid-area: center;
}
.item-right{
  grid-area: right;
}

.text {
  font-size: 14px;
}

.textbox {
  padding: 16px;
  border: 3px dotted green;
}

div {
  padding: 5px 0px 5px 0px; /* top right bottom left **/ 
}

.center {
  margin: auto;
  width: 50%;
  border: none; /* 3px dotted green; */
  padding: 10px;
}

.filters {
  margin: auto;
  width: 90%;
  border: none; /* 3px dotted green; */
  padding: 10px;
}

th, td {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

tr:nth-child(even) {
  background-color: #D6EEEE;
}

td {
  font-size: 14px;
}

tr:hover {background-color: #76d7c4;}


.smalltable th {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  padding-right: 2px;
}

.smalltable td {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  padding-right: 2px;
}
